.my-game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdebff;
  border-radius: 50px;
  max-width: 1022px;
  width: 80% !important;
  height: auto !important;
  min-height: 560px;
  text-align: center;
  padding: 5px;
}

.picture {
  width: 250px;
  cursor: unset;
}

.audio-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 146px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.audio-button:hover {
  border-radius: 50%;
  box-shadow: -8px -8px 16px #ffffff, 8px 8px 16px #b4c1d5;
}

.full-screen__audio-button {
  right: 106px;
}

.cat_sleeping {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 210px;
  height: 142px;
}

.full-screen__button {
  position: absolute;
  right: 66px;
  top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;

  background-color: rgb(115, 57, 153);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  color: white;
}

.full-screen__button:hover {
  border-radius: 50%;
  box-shadow: -8px -8px 16px #ffffff, 8px 8px 16px #b4c1d5;
}

svg.full-screen__icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 680px) {
  .cat_sleeping {
    right: -67px;
  }
}
@media screen and (max-width: 500px) {
  .cat_sleeping {
    right: -100px;
  }
}
