.chart__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.chart {
  width: 70%;
  height: 100%;
}

.stats {
  width: 280px;
  min-height: 100%;
  background-color: pink;
  border-radius: 50px;
}

@media screen and (max-width: 1266px) {
  .chart {
    width: 100%;
  }
}
