.chart__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chart {
  position: relative;
  height: auto;
  width: 100%;
}

.stats {
  background-color: pink;
  position: relative;
  width: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-charts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-text {
  font-size: 24px;
  font-weight: 700;
}
