.word__item {
  cursor: pointer;
  border: none;
  user-select: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #5b2467;
  background-color: #c6d8e7;
  /* box-shadow:  -12px -12px 24px #FFF,  12px 12px 24px #B4C1D5; */
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  /* pointer-events: none; */
}

.word__item:hover {
  opacity: 0.8;
}

.word__item__right {
  outline: none;
  background: #45f9a3;
  background-image: url('../../assets/images/correct\ \(1\).svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 10px;
}

.word__item__wrong {
  outline: none;
  background: #f945d1;
  background-image: url('../../assets/images/wrong.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 10px;
}

.word__item:focus {
  outline: none;
}

.word__item:active {
  border: none;
}

.word__list__disable {
  background: tomato;
}
