.level-style {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.level-inactive {
  color: #ffffff;
  background-color: #733999;
}

.level-active {
  border: 2px solid #733999;
  color: #733999;
  background-color: #ffffff;
}
