.user-info {
  background-color: #fdebff;
  background-position-x: 5px;
  background-position-y: center;
  background-repeat: no-repeat;
  box-shadow: inset -4px -4px 8px #ffffff, inset 4px 4px 8px #b4c1d5;
  border-radius: 30px;
  border: none;
  height: 50px;
  max-width: 330px;
  min-width: 100px;
  width: 100%;
  padding-left: 40px;
  margin-top: 20px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #5b2467;
}
.dashboard-button {
  text-decoration: none;
}
