.div-button {
  color: #5b2467;
  background: #fdebff;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #b4c1d5;
  border-radius: 30px;
  min-width: 300px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  word-wrap: break-word;
  padding: 5px 10px;
  cursor: pointer;
}

.div-button:active {
  box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #b4c1d5;
}
