.quiz-header {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  text-transform: capitalize;
  color: #5b2467;
  text-shadow: 2px 2px 4px #dfc5e2;
  margin-top: 20px;
}

.quiz-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.quiz-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.quiz-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #733999;
  margin-top: 10px;
}

.quiz-time-info {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #733999;
  margin: 10px 0;
}

.margin-top__30 {
  margin-top: 50px;
}

.auth-info-text {
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #733999;
  margin: 20px 0;
}

.auth-button-wrapper {
  margin: 20px 0;
}
