* {
  font-size: 10px;
}

:root {
  --mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mainColor: #733999;
  --mainFont: 1.8rem;
  --btnBackColor: #c6d8e7;
}

.game__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3.1rem;
  width: 102.2rem;
  height: 44rem;
  background-color: #fdebff;
  border-radius: 50px;
}

.game__startSreen {
  width: 64.8rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game__title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--mainColor);
  text-transform: uppercase;
}

.game__decription {
  width: 64.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.109rem;
  text-align: center;
  opacity: 0.8;

  color: var(--mainColor);
  font-family: var(--mainFont);
}

.game__start__btn {
  width: 6rem;
  height: 6rem;
  background-image: url(../../assets/images/playbtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.word__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 660px;
  height: 120px;
}

.sound__btn {
  width: 50px;
  height: 50px;
  border-radius: 30px;

  background: #fdebff;
  box-shadow: inset -8px -8px 16px #fff, inset 8px 8px 16px #b4c1d5;
  background-image: url(../../assets/images/soundBtn.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.game__content {
  width: 102.2rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #fdebff;
}

.playing__btn,
.add__aswer {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #5b2467;
  font-weight: 900;
  background-color: #fdebff;
  box-shadow: inset -8px -8px 16px #fff, inset 8px 8px 16px #f7d2fb;
  font-size: var(--mainFont);
  line-height: 50px;
  border: none;
}

.playing__btn,
.add__aswer:focus {
  outline: none;
}

.add__aswer::before {
  width: 30px;
  height: 30px;
  content: '';
  display: inline-block;
  background: url(../../assets/images/arrow.svg) no-repeat bottom center;
  transition: all 0.15s ease;
  /* background-position-x: 50%;
  background-position-y: bottom;
  line-height: 0; */
}

.rightAnswer {
  background-color: red;
}

.btn__container {
  margin-right: 2.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 12rem;
  height: 3rem;
}

.word__info {
  width: 40.175rem;
  height: 19.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.word__sound {
  height: 2rem;
}

.word__image {
  width: 22.8rem;
  height: 12.1rem;
  border-radius: 20px;
}
