:root {
  --mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mainColor: #733999;
  --mainFont: 1.8rem;
  --btnBackColor: #c6d8e7;
}

button {
  outline: none;
}

.game__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3.1rem;
  width: 102.2rem;
  height: 44rem;
  background-color: #fdebff;
  border-radius: 50px;
}

.game__startSreen {
  width: 64.8rem;
  /* height: 20rem; */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.game__title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--mainColor);
  text-transform: uppercase;
}

.game__decription {
  width: 64.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.109rem;
  text-align: center;
  opacity: 0.8;

  color: var(--mainColor);
  font-family: var(--mainFont);
}

.game__start__btn {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  background-image: url(../../assets/images/playbtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.word__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 660px;
  height: 120px;
}

.word__list__disable {
  color: tomato;
}

.sound__btn {
  width: 50px;
  height: 50px;
  border-radius: 30px;

  background: #fdebff;
  box-shadow: inset -8px -8px 16px #fff, inset 8px 8px 16px #b4c1d5;
  background-image: url(../../assets/images/soundBtn.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.game__content {
  width: 102.2rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  background: #fdebff;
}

.game__content__fullScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #fdebff;
}

.playing__btn,
.add__aswer {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #5b2467;
  font-weight: 900;
  background-color: #fdebff;
  box-shadow: inset -8px -8px 16px #fff, inset 8px 8px 16px #f7d2fb;
  font-size: var(--mainFont);
  line-height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playing__btn,
.add__aswer:focus {
  outline: none;
}

.add__aswer::before {
  width: 30px;
  height: 30px;
  content: '';
  display: inline-block;
  background: url(../../assets/images/arrow.svg) no-repeat bottom center;
  transition: all 0.15s ease;
}

.btn__container {
  margin-right: 2.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 12rem;
  height: 3rem;
}

.word__info {
  min-width: 50rem;
  height: 19.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.word__sound,
.word__context {
  display: flex;
  align-items: center;
}

.word__sound > img,
.word__context > img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.word__image {
  width: 22.8rem;
  height: 12.1rem;
  border-radius: 20px;
}

.game__text {
  padding-left: 0.7rem;
  font-size: 1.7rem;
  font-weight: 600;
  vertical-align: middle;
  color: var(--mainColor);
}

.cat__image {
  position: absolute;
  left: 1135px;
  top: 290px;
  width: 120px;
  height: 125.29px;
}

.hint:active:after {
  content: attr(data-title);
  position: absolute;
  left: 70%;
  top: 25%;
  z-index: 1;
  background: var(--btnBackColor);
  opacity: 0.8;
  color: var(--mainColor);
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 30px;
}

.cat_sleeping {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 210px;
  height: 142px;
}

.full-screen__button {
  right: 66px;
  top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;

  outline: none;
  background-color: rgb(115, 57, 153);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  color: white;
}

.full-screen__button:hover {
  border-radius: 50%;
  box-shadow: -8px -8px 16px #ffffff, 8px 8px 16px #b4c1d5;
}

svg.full-screen__icon {
  width: 24px;
  height: 24px;
}

.audio__btn {
  cursor: pointer;
  fill: var(--mainColor);
}

.audio__btn:hover {
  transform: scale(1.3);
}

.fullScreen__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 80%;
  width: 80%;
  max-width: 450px;
}

.result-wrapper {
  margin: 20px 0;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  text-transform: capitalize;

  color: #733999;
}

.sub-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.sub-title_success {
  color: #45f9a3;
}

.sub-title_wasted {
  color: #f945d1;
}

.list {
  width: 100%;
  list-style-type: none;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: left;
  text-transform: lowercase;

  color: #733999;
}

.list__row {
  display: flex;
  align-items: center;
}

.list__row:hover {
  background-color: pink;
  border-radius: 4px;
}

.list__word {
  margin-right: 4px;
  font-weight: bold;
}

.audio-button {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.audio-button > svg {
  height: 16px;
  width: 16px;
  background-color: inherit;
}

.audio-button > svg:hover {
  background-color: pink;
}

.audio_success > svg {
  fill: #45f9a3;
}

.audio_wasted > svg {
  fill: #f945d1;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;

  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: #733999;

  background: #ffeeff;
  box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #d3a9d8;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

.button__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.line {
  margin: 10px 0;
}

.restart:hover {
  background-color: #f7d4f7;
  transition: 0.2s;
}
