.main-cat__wrapper {
  position: absolute;
  right: -200px;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 200px;
  height: 230px;
}

.main-cat__circle_1 {
  position: absolute;
  top: 0;
  left: 4px;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: #fdebff;
}

.main-cat__circle_2 {
  position: absolute;
  top: 39px;
  left: 20px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: #fdebff;
}

.main-cat__circle_3 {
  position: absolute;
  top: 70px;
  left: 43px;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #fdebff;
}

.main-cat__circle_4 {
  position: absolute;
  top: 89px;
  left: 61px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #fdebff;
}

.main-cat {
  width: 133px;
  height: 185px;
}

@media screen and (max-width: 1218px) {
  .main-cat__circle_1,
  .main-cat__circle_2,
  .main-cat__circle_3,
  .main-cat__circle_4 {
    display: none;
  }

  .main-cat__wrapper {
    right: -90px;
  }
}

@media screen and (max-width: 996px) {
  .main-cat__wrapper {
  }
}
