.App {
  min-height: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
}
.App::before {
  content: '';
  position: fixed;
  left: -5%;
  right: -5%;
  z-index: -10;

  display: block;

  background: url('../../assets/images/krystal-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 110%;
  height: 110%;
  filter: blur(150px);
}

.container {
  height: 100%;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
