.ebook-container {
  max-width: 814px;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdebff;
  border-radius: 50px;
  position: relative;
  margin-right: 50px;
  margin-left: 50px;
}

.ebook-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  max-width: 615px;
  width: 100%;
}

.title {
  margin: 25px 0 20px;

  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #5b2467;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 550px) {
  .ebook-buttons-container {
    display: flex;
    flex-direction: column;
    min-height: 280px;
  }
}
