.description {
  margin: 5px 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: rgba(115, 57, 153, 0.8);
}

.word__transcription {
  margin: 5px 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: rgba(115, 57, 153, 0.8);
}

.btn-next {
  margin: 25px 0 35px;
  width: 200px;
  height: 50px;

  border-radius: 30px;
  border: none;

  background-color: #fdebff;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #b4c1d5;

  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #733999;
  cursor: pointer;
  outline-color: #733999;

  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-next:hover {
  background-color: #ffd1fb;
}

.btn-next:active {
  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d3a9d8;
}
