* {
  box-sizing: border-box;
}
img {
  /* margin-top: 3.2rem; */
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.sprint__game {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.game__wrapper {
  min-height: 560px;
  /* height: 80%; */
  max-width: 1022px;
  width: 80%;
  background-color: #fdebff;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  align-items: center;
  border-radius: 50px;
  color: #733999;
  position: relative;
  font-size: 1.8rem;
}

h2 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

p {
  font-size: 1.8rem;
  max-width: 60rem;
  margin-bottom: 3.2rem;
}

.cat__img {
  position: absolute;
  right: -100px;
  /* bottom:117px; */
}
/* .cat__img1 {
  position: absolute;
  right: -100px;
} */

.timer {
  color: #733999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1.5rem; */
  /* margin-bottom: 1.2rem; */
}
.prepare {
  margin-top: 1rem;
}

.game__wrapper.timer__page {
  align-items: center;
  justify-content: center;
}
.firstWatch__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
}

.first__timer {
  position: absolute;
}
