.auth-err-msg {
  border-radius: 30px;
  max-width: 330px;
  min-width: 250px;
  width: 100%;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #db1557;
  text-align: left;
}
