.wrapper {
  padding: 20px;

  width: 80%;
  max-width: 1022px;
  min-height: 560px;

  background-color: #fdebff;
  border-radius: 50px;

  text-align: left;
  color: #5b2467;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  max-height: 600px;
}

.title {
  text-align: center;
  font-size: 3.6rem;
  margin-top: 2rem;
}

.person {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  max-width: 450px;
  min-height: 236px;

  box-shadow: -8px -8px 16px #ffffff, 8px 8px 16px #b4c1d5;
  border-radius: 30px;
  padding: 1rem 2rem;
}

.name {
  margin: 0 2rem 0;
  max-width: 600px;

  font-size: 2rem;
  text-align: left;
  color: #5b2467;
}

.image {
  margin: 0 10px;
  height: 100%;
  border-radius: 50%;
  cursor: unset;

  box-shadow: 0 0 6px #3d3fb0;
}

.image_lena {
  /* object-fit: cover; */
}

.text__wrapper {
  padding: 1rem;
  width: 100%;
}

.text {
  margin: 10px 0;
  max-width: 100%;
  font-size: 1.6rem;
}

.link {
  font-size: 1.4rem;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 600px;
  }

  .inner {
    max-height: 560px;
    overflow-y: auto;
  }
  .person {
    flex-wrap: wrap;
    padding: 2rem 2rem;
  }

  .image {
    margin: 0 auto;
  }

  .name {
    width: 100%;
  }
}
