.wrapper {
  height: 80%;
  width: 80%;
  max-width: 450px;
}

.result-wrapper {
  margin: 20px 0;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  text-transform: capitalize;

  color: #733999;
}

.sub-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.sub-title_success {
  color: #45f9a3;
}

.sub-title_wasted {
  color: #f945d1;
}

.list {
  width: 100%;
  list-style-type: none;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: left;
  text-transform: lowercase;

  color: #733999;
}

.list__row {
  display: flex;
  align-items: center;
}

.list__row:hover {
  background-color: #ffd1fb;
  border-radius: 4px;
}

.list__word {
  margin-right: 4px;
  font-weight: bold;
}

.audio-button {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.audio-button > svg {
  height: 16px;
  width: 16px;
  background-color: inherit;
}

.audio-button > svg:hover {
  background-color: #ffd1fb;
}

.audio_success > svg {
  fill: #45f9a3;
}

.audio_wasted > svg {
  fill: #f945d1;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;

  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: #733999;

  background: #ffeeff;
  box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #d3a9d8;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  outline-color: #733999;

  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.restart:hover {
  background-color: #ffd1fb;
}

.restart:active {
  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d3a9d8;
}

.button__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.line {
  margin: 10px 0;
}
