.finish-game-wrapper {
  width: 430px;
  min-height: 390px;
  height: 100%;
  background-color: #ffeeff;
  border-radius: 30px;
  padding: 1.5rem;
  box-shadow: -4px -4px 8px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.go-back {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;

  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: #733999;

  background: #ffeeff;
  box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #d3a9d8;
  border-radius: 10px;
  border: none;
}

.repeat {
  box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #d3a9d8;
  background-color: #ffeeff;
  border-radius: 1rem;
  height: 4rem;
  width: 15rem;
  border: none;
  margin: 0 1.5rem;
  color: #733999;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: 'Roboto';
}
p {
  margin: 0;
  padding: 0;
}
.result-wrapper p {
  font-size: 1.4rem;
  color: #733999;
  font-weight: 200;
}

.points-number,
.points-procents {
  color: #45f9a3;
}

h3 {
  font-size: 2.4rem;
  color: #733999;
  margin-bottom: 1.5rem;
}

.details-wrapper {
  min-width: 33rem;
  border-radius: 10px;
  background-color: #ffff;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
  list-style-type: none;
}
.correct,
.incorrect {
  text-align: start;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.correct {
  color: #45f9a3;
}
.incorrect {
  color: #f945d1;
  margin-top: 1rem;
}
.correct-word-details,
.incorrect-word-details {
  display: flex;
  /* align-items: flex-start;
   */
  margin: 0;
  padding: 0;
}
.incorrect-word-sound,
.correct-word-sound {
  background-color: transparent;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.correct-word-sound > svg {
  fill: #45f9a3;
  width: 1.5rem;
  cursor: pointer;
  height: 1.5rem;
}
.correct-words-list,
.incorrect-words-list {
  list-style-type: none;
  margin-right: 1rem;
}
.incorrect-word-sound > svg {
  fill: #f945d1;
  width: 1.5rem;
  cursor: pointer;
  height: 1.5rem;
}
.translation {
  font-size: 1.4rem;
  font-weight: 200;
  color: #733999;
}
.incorrect-word-sound > svg:hover,
.correct-word-sound > svg:hover {
  background-color: pink;
}

.main-word {
  font-size: 1.4rem;
  font-weight: 600;
  color: #733999;
  padding-right: 0.5rem;
}

.translation {
  padding-left: 0.5rem;
}
.words-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 0.5rem;
}
.words-wrapper:hover {
  background-color: pink;
  border-radius: 2px;
}
.words-separator {
  margin-top: 2rem;
  height: 1px;
  width: 100%;
  background-color: #733999;
  opacity: 0.4;
  padding-right: 2rem;
  position: relative;
}
.result-buttons {
  display: flex;
  justify-content: center;
}

.go-back,
.repeat {
  transition: 0.2s;
}
.go-back:hover,
.repeat:hover {
  background-color: #f7d4f7;
  transition: 0.2s;
}
