.main-wrapper {
  max-width: 814px;
  width: 100%;
  min-height: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdebff;
  border-radius: 50px;
  position: relative;
  margin-right: 50px;
  margin-left: 50px;
  padding-right: 50px;
}

.main-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 18px 0;
}

.main-header {
  font-style: normal;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 5.6rem;
  text-align: center;
  font-feature-settings: 'cpsp' on;
  color: #5b2467;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 16px;
}

.main-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  text-transform: capitalize;
  color: rgba(91, 36, 103, 0.8);
  word-wrap: break-word;
  margin: 0 2rem;
}
