.statistic {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdebff;
  border-radius: 50px;
  max-width: 1022px;
  width: 80%;
  height: auto;
  min-height: 560px;
  text-align: center;
  padding: 5px;
  padding: 20px;
}
