.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;

  height: 60px;
  z-index: 10;
}

.wrapper__circle {
  position: absolute;
  width: 1280px;
  height: 1254px;
  bottom: -1194px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  transition: bottom 0.2s ease-in-out;
  background: #fdebff;
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.menu-btn {
  position: relative;
  flex-shrink: 0;

  width: 40px;
  height: 40px;
  margin: 10px 0;

  z-index: 5;
  background: #fdebff;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 10px #dfc5e2,
    inset -4px -4px 8px #ffffff, inset 4px 4px 8px #f7d2fb;
  border: none;
  border-radius: 10px;
  border-color: #fff;
  outline-color: #da8bed;
}

.menu-btn__inner {
  width: 28px;
  height: 28px;
  margin: auto;

  background: #fdebff;
  background-image: url('../../assets/images/paw-mini.svg');
  background-repeat: no-repeat;
  background-position: center 5px;

  box-shadow: -4px -4px 8px #ffffff, 4px 4px 8px #d3a9d8;
  border-radius: 10px;
}

.menu-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  max-width: 600px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.up-button {
  align-self: flex-start;
  padding-top: 20px;
  cursor: pointer;
}

.bottom-button {
  align-self: flex-end;
  padding-top: 10px;
  cursor: pointer;
}

.button_margin-small {
  margin-right: 50px;
}

.button_margin-big {
  margin-right: 80px;
}

.github {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-bottom: 4px;

  list-style-type: none;
}

.list__link {
  margin: 0 1rem;
  padding: 0.2rem 0.4rem;
  transition: background-color 0.2s ease;
  color: #5b2467;
}

.list__link:hover {
  background-color: #ffd1fb;
  border-radius: 4px;
  margin-top: 4px;
}

.link__rs-logo {
  color: transparent;

  background-image: url('../../assets/images/rs_school_js.svg');
  background-repeat: no-repeat;
  background-position: center;
}
