.my-game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdebff;
  border-radius: 50px;
  max-width: 1022px;
  width: 80%;
  height: 440px;
  text-align: center;
  padding: 5px;
}

.title {
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 5.6rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.2rem;

  color: #733999;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: rgba(115, 57, 153, 0.8);
}

.play {
  width: 60px;
  height: 60px;
}

.play-button {
  display: flex;
  margin-top: 3.2rem;
  width: 60px;
  height: 60px;
  background-color: inherit;
  border: none;
}

.play-button:hover {
  cursor: pointer;
}

.cat_sleeping {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 210px;
  height: 142px;
}
