.falling__word {
  align-self: center;
  cursor: pointer;
  border: none;
  user-select: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #5b2467;
  background-color: #c6d8e7;
  /* box-shadow:  -12px -12px 24px #FFF,  12px 12px 24px #B4C1D5; */
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
  margin: 10px;

  transition: all 0.01s linear;
  /* -webkit-transition: all 2s ease-in-out; */
  /* transition-delay: 1s; */
}

.falling__word:focus {
  outline: none;
}

.word__stop {
  transition: 0.1s all;
  background: #fdebff;
}

.word__stop__wrong {
  z-index: 100;
  transition: 0.1s all;
  background: #fdebff;
  color: tomato;
}

.word__stop::after {
  background: url(../../assets/images/arrow.svg) no-repeat;
  transition: all 0.15s ease;
  content: '';
  display: inline-block;
}

.falling__word.entering {
  animation: show-loader 0.5s forwards;
}

.falling__word.entered {
  animation: rotate-loader 0.5s infinite;
}

.falling__word.exiting {
  animation: show-loader 0.5s reverse;
}

.falling__word.exited {
}
