* {
  font-size: 10px;
}

:root {
  --mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mainColor: #733999;
  --mainFont: 1.8rem;
  --btnBackColor: #c6d8e7;
}

.game__level {
  width: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
}

.level__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
