.link-button {
  background: #fdebff;
  box-shadow: -8px -8px 16px #ffffff, 8px 8px 16px #b4c1d5;
  border-radius: 30px;
  width: 260px;
  height: 130px;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #5b2467;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  padding: 5px;

  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.link-button:hover {
  background-color: #ffd1fb;
}

.link-button:active {
  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d3a9d8;
}
