.paw1 {
  background-image: url('../../assets/images/paw1.svg');
  margin-top: 20px;
}

.paw2 {
  background-image: url('../../assets/images/paw2.svg');
}

.paw3 {
  background-image: url('../../assets/images/paw3.svg');
  margin-top: 20px;
}

.paw4 {
  background-image: url('../../assets/images/paw4.svg');
}

.paw1,
.pawBlack1,
.pawBlack2,
.paw2,
.paw3,
.paw4 {
  width: 32px;
  height: 32px;
  margin-right: 18px;
  padding-top: 10px;
  padding-right: 8px;
  font-size: 14px;
}

.pawBig1,
.pawBig2,
.pawBig3,
.pawBig4 {
  width: 50px;
  height: 50px;
}

.pawBig1 {
  background-image: url('../../assets/images/pawBig1.svg');
}

.pawBig2 {
  background-image: url('../../assets/images/pawBig2.svg');
}

.pawBig3 {
  background-image: url('../../assets/images/pawBig3.svg');
}

.pawBig4 {
  background-image: url('../../assets/images/pawBig4.svg');
}

.pawBlack1,
.pawBlack2 {
  background-image: url('../../assets/images/pawblack.svg');
}

.pawBlack1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
