.word__wrapper {
  display: flex;
  list-style-type: none;
  justify-content: center;

  margin: 1rem 0;
  width: 100%;
}

.word__char {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 1rem;
  height: 50px;
  width: 60px;

  background: #733999;
  border-radius: 10px;

  color: #ffffff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .word__char {
    margin: 0 0.4rem;
  }
}

@media screen and (max-width: 680px) {
  .word__char {
    margin: 0 0.2rem;
  }
}
@media screen and (max-width: 500px) {
  .word__char {
    margin: 0 0.1rem;
  }
}
