.start {
  position: relative;

  background-color: #fdebff;
  border-radius: 50px;

  width: 80%;
  min-height: 560px;

  text-align: center;
  padding: 24px 20px 14px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;

  color: #733999;
}

.start__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1022px;
  min-height: 560px;
  max-height: 680px;
  overflow-y: auto;
}

.title {
  width: 95%;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.paw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  margin: 20px 0 5px;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fdebff;
  box-shadow: -4px -4px 8px #ffffff, 4px 4px 8px #d3a9d8;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.paw:hover {
  background-color: #ffd1fb;
}

.paw:active {
  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d3a9d8;
}

.sub-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 20px 0;
  width: 100%;
}

.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0.5rem;
  margin: 5px;
  width: 165px;
  height: 100px;

  background: #fdebff;
  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d3a9d8;
  border-radius: 10px;

  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.list__text {
  margin-top: 0.5rem;
}

.video {
  width: 80%;
  height: 40%;
  max-width: 600px;
  min-width: 260px;
  min-height: 250px;
  border-radius: 20px;

  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #d3a9d8;
}
