.aside {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -30px);
  display: flex;
  flex-direction: column;
  z-index: 30;

  margin-top: 20px;
}

.aside__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 5px 0;
  transition: margin 0.2s ease-in-out;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: black;
  transition: background-color 0.2s ease;
}

.aside__link:hover {
  background-color: pink;
  font-weight: 900;
}

.aside__rs-logo {
  padding: 0 auto;
  width: auto;
  height: 19px;

  color: transparent;

  background-image: url('../../assets/images/rs_school_js.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.aside__rs-logo:hover {
  color: transparent;
}

.aside__link__wrapper {
  display: flex;
  align-self: flex-end;
}

.aside .git-btn {
  display: flex;
  min-width: 30px;
  background-color: inherit;
  border: none;
}

.popover-inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80px;
}
