.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-header {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  text-transform: capitalize;
  color: #5b2467;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.auth-input {
  background-color: #fdebff;
  background-position-x: 5px;
  background-position-y: center;
  background-repeat: no-repeat;
  box-shadow: inset -4px -4px 8px #ffffff, inset 4px 4px 8px #b4c1d5;
  border-radius: 30px;
  border: none;
  height: 50px;
  max-width: 330px;
  min-width: 250px;
  width: 100%;
  padding-left: 40px;
  margin-top: 20px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #5b2467;
}

.email-icon {
  background-image: url('../../assets/images/email-auth.svg');
}

.login-icon {
  background-image: url('../../assets/images/user-auth.svg');
}

.password-icon {
  background-image: url('../../assets/images/key-auth.svg');
}

.auth-button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  color: #5b2467;
  background: #fdebff;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #b4c1d5;
  margin: 25px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.margin-top__0 {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-button:active {
  box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #b4c1d5;
}

.auth-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  color: rgba(91, 36, 103, 0.5);
}

.auth-text-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #5b2467;
  cursor: pointer;
}

.login-change {
  margin-bottom: 10px;
}

.profile-img-wrapper {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b2467;
}
