.game__wrapper {
  min-height: 560px;
  max-width: 1022px;
  width: 80%;
  background-color: #fdebff;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #733999;
  position: relative;
  font-size: 1.8rem;
  text-align: center;


}

.game-title{
font-size: 4.8rem;
font-weight: 900;
}
.cat__img1 {
  position: absolute;
  right: -100px;
} 
.play-button{
  background-color: transparent;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}

.start-game-content{
margin-top: auto;
margin-bottom: auto;

}